* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  background-color: #151418;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.logo a span {
  color: #8739fa;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: #fff;
}

.menu:hover a {
  opacity: 0.4;
}

.menu a:hover {
  opacity: 1;
  color: #fff;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}
/* hero section */
.teen-patti-section {
  background-color: #111940;
  padding: 60px 0;
  text-align: center;
}
.container {
  max-width: 1346px;
  padding: 0 15px;
  margin: 0 auto;
}
.masters-img-wrap {
  text-align: center;
}
.teen-wrap-star {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}
.img-star-wrap {
  max-width: 24px;
  width: 100%;
}
.hero-text {
  font-size: 40px;
  line-height: normal;
  text-align: center;
  color: #f0ad4e;
  margin-top: 10px;
}
.hero-description {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 25.5px */
  color: #f2ebe2;
  text-align: center;
  margin-top: 20px;
}
.donwload-text {
  font-size: 36px;
  line-height: 50px;
  color: #f2ebe2;
  font-weight: 700;
  margin-top: 20px;
}
.version-text {
  font-size: 28px;
  line-height: 30px;
  color: #f2ebe2;
  font-weight: 700;
  margin-top: 10px;
}
.download-btn {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}
.label-text {
  font-size: 36px;
  line-height: 50px;
  color: #f2ebe2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}
.label-wrap {
  background: #111111;
}
.section-wrap {
  padding: 40px 0;
}
.wrap-download-sec {
  text-align: center;
}
.download-btn-wrap {
  text-align: center;
  margin: 20px 0;
}
.title-teen {
  font-size: 20px;
  line-height: normal;
  color: #000;
  font-weight: 500;
  padding: 20px 0;
}
.bold-text {
  font-weight: 700;
}
.list-type {
  list-style-position: inside;
}
.list-type li {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}
.text-list {
  padding: 10px 0;
}
.faq-sec {
  background: #111111;
  font-size: 28px;
  line-height: normal;
  font-weight: 500;
  text-align: center;
  color: #fff;
  padding: 10px 0;
}
/* faq */
.faq-item {
  width: 100%;
  margin: 7px 0px;
}

.faq-item .faq-label {
  position: relative;
  width: 100%;
  background-color: #ebebeb;
  padding: 14px 50px 12px 20px;
  cursor: pointer;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.faq-item .faq-label i {
  width: 46px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #000;
}

.faq-item .faq-label i:before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 20px;
  height: 2px;
  background-color: #fff;
}

.faq-item .faq-label i:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 2px;
  height: 20px;
  background-color: #fff;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
}

.faq-item .faq-item-show .faq-label i:after {
  opacity: 0;
}

.faq-cont {
  border: #ebebeb 1px solid;
  background-color: #fff;
  transition: 0.3s all;
  overflow: hidden;
  padding: 0 20px;
  height: 0px;
}

.faq-item .faq-item-show + .faq-cont {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: auto;
  height: auto;
}

.faq-cont p {
  margin: 0px 0 20px 0;
}

.faq-cont p:last-child {
  margin-bottom: 0px;
}
.faq-list-sec {
  padding: 40px 0;
}
.list-quries {
  padding: 40px 0;
}
.search-quries {
  font-size: 22px;
  line-height: normal;
  color: #242d1c;
}
.bg-warn {
  background: #e72525;
  padding: 20px;
  border-radius: 10px;
  margin-top: 24px;
}
.warn-text-top {
  color: #fff;
  font-size: 18px;
  line-height: normal;
  margin-bottom: 20px;
}
.text-footer {
  text-align: center;
}
.footer-wrap {
  background: #151418;
  padding: 40px 0;
  color: #fff;
}
@media (max-width: 767px) {
  .faq-item .faq-label {
    padding: 10px 50px 8px 15px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.2;
  }

  .faq-cont {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 950px) {
  .menu {
    flex-direction: column;
    background-color: #151418;
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
}
